<md-content class="md-padding" layout="column">
  <md-card>
    <md-card-title>
      <md-card-title-media>
        <div class="md-media card-media" layout-padding>
          <img ng-src="{{ user.profile.picture }}" alt="profile-picture">
        </div>
        <md-card-actions layout="column" layout-align="end center">
          <md-button ng-click="user.getMessage()">Get Message</md-button>
          <md-button ng-click="user.getSecretMessage()">Get Secret Message</md-button>
        </md-card-actions>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">{{ user.profile.nickname }}</span>
        <span class="subhead">{{ user.profile.email }}</span>
        <h3>{{ user.message }}</h3>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</md-content>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
